<div class="row my-3 justify-content-center">
  <div class="col-md-4">
    <div class="card-pegawai">
      <div class="box-icon" style="background: #46ec2b">
        <img src="assets/img/doctor-icon.svg" alt="" width="35px" />
      </div>
      <div class="card-pegawai-descrip">
        <h5>DOKTER</h5>

        <span><%= dokter %> Orang</span>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card-pegawai">
      <div class="box-icon" style="background: #f22424">
        <img src="assets/img/People-icon.svg" alt="" width="35px" />
      </div>
      <div class="card-pegawai-descrip">
        <h5>PASIEN</h5>
        <span><%= patient %> Orang</span>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card-pegawai">
      <div class="box-icon" style="background: #e0f94a">
        <img src="assets/img/nurse-icon.svg" alt="" width="35px" />
      </div>
      <div class="card-pegawai-descrip">
        <h5>APOTEKER</h5>
        <span><%= apoteker %> Orang</span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="card-status">
      <div class="header-card-status text-center">
        <h6>Pengumuman</h6>
      </div>
      <div class="card-status-content"></div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card-informasi">
      <div class="header-card-informasi text-center">
        <h6>Informasi</h6>
      </div>
    </div>
  </div>
</div>
